.preview {
    height: 100%;
    width: 100%;
}

.col-6:hover {
    filter: brightness(100%);
    background-color: unset;
}

.col-6 {
    border: solid black 20px;
    filter: brightness(30%);
    background-color: rgba(0, 0, 0, 0.7);
}